@media (max-width: 768px) {
    // Mobile Menu
    .indicator {
        position: absolute;
        height: 4px;
        width: 75.2px;
        background: transparent;
        top: -1px;
        transition: 0.5s;
    }

    .mobile-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        padding: 0 !important;
        border-top: 1px solid #ddd;
    }

    .mobile-nav-bar {
        ul {
            position: relative;
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;

            & > * {
                flex: 1;
            }

            li {
                flex-grow: 1;
                flex-basis: 0;
                position: relative;
                min-width: 0;

                a {
                    position: relative;
                    font-size: 13px;
                    color: #333 !important;
                    text-decoration: none;
                    padding: 15px 0;
                    display: block;
                    transition: all 0.3s linear;

                    i,
                    img {
                        display: block;
                        margin-bottom: 3px;
                        font-size: 18px;
                    }
                }

                &.active {
                    a {
                        color: $pc !important;
                    }

                    & ~ .indicator {
                        background: $pc;
                    }
                }

                &:nth-child(1) {
                    &.active {
                        & ~ .indicator {
                            left: 0;
                        }
                    }
                }

                &:nth-child(2) {
                    &.active {
                        & ~ .indicator {
                            left: 20%;
                        }
                    }
                }

                &:nth-child(3) {
                    &.active {
                        & ~ .indicator {
                            left: 40%;
                        }
                    }
                }

                &:nth-child(4) {
                    &.active {
                        & ~ .indicator {
                            left: 60%;
                        }
                    }
                }

                &:nth-child(5) {
                    &.active {
                        & ~ .indicator {
                            left: 80%;
                        }
                    }
                }
            }
        }
    }

    .mobile-menu {
        text-align: left;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        overflow-y: scroll;
        background-color: #fff;
        z-index: 999999;
        -webkit-transition: transform 0.4s cubic-bezier(0.42, 0.56, 0.2, 0.9);
        -webkit-transform: translateX(-100%);

        &.is-open {
            -webkit-transform: none;
        }

        h3 {
            padding: 15px;
            font-size: 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #333;
            font-weight: 600;

            a {
                color: #a5a5a5;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            .nav__item {
                position: relative;

                .nav__link {
                    font-weight: 500;
                    text-decoration: none;
                    display: flex;
                    padding: 1em 1em 1em 1.2em;
                    outline: none;
                    color: #333;
                    font-size: 16px;
                    align-items: center;
                    border-bottom: 1px solid #f2f2f2;
                    flex: 1;

                    .nav-icon {
                        color: $pc;
                        min-width: 24px;
                        font-size: 18px;
                        margin-right: 10px;
                    }

                    span {
                        flex-grow: 1;
                        display: flex;
                        align-items: center;

                        i {
                            margin-left: auto;
                            font-size: 14px;
                            color: #a5a5a5;
                        }
                    }

                    &.sub__close {
                        justify-content: flex-start;
                        display: grid;
                        grid-template-columns: auto 1fr;
                        text-align: center;
                        font-size: 21px;
                        font-weight: 600;
                        color: $pc;
                        align-items: center;

                        i {
                            font-size: 14px;
                            color: #a5a5a5;
                        }
                    }
                }
            }

            &.nav__sub {
                position: fixed;
                left: 0;
                top: 0;
                bottom: 0;
                padding-bottom: 100px;
                height: 100vh;
                width: 100vw;
                overflow-y: scroll;
                background-color: #fff;
                z-index: 100;
                -webkit-transition: transform 0.4s
                    cubic-bezier(0.42, 0.56, 0.2, 0.9);
                -webkit-transform: translateX(-100%);

                &.is-active {
                    -webkit-transform: none;
                }
            }
        }
    }
}
